body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* логин */
.login-body {
  background: #075E54;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.auth-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* чат */
.chat-container {
  display: flex;
  height: 100vh;
}

#userList {
  width: 220px;
  background: #075E54;
  color: white;
  padding: 10px;
}
#userList ul {
  list-style: none;
  padding: 0;
}
#userList li {
  padding: 6px;
  background: #128C7E;
  margin: 4px 0;
  border-radius: 4px;
}
#logoutBtn {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#chatBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ECE5DD;
}
#messages {
  flex: 1;
  list-style: none;
  padding: 10px;
  overflow-y: auto;
}
#messages li {
  margin: 6px 0;
  background: #DCF8C6;
  padding: 8px;
  border-radius: 5px;
}
#chatForm {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}
#chatForm input {
  flex: 1;
  padding: 10px;
}
#chatForm button {
  margin-left: 10px;
  padding: 10px;
  background: #25D366;
  color: white;
  border: none;
  border-radius: 5px;
}
